<a routerLink="/components/add-log" class="btn btn-outline-primary">Add Service</a>
<br><br/>
<div *ngIf="events">
  <div class="list">
    <div class="list-group col-md-6">
      <div *ngFor="let event of events | async">
        <div class="card" id="event-log">
          <div class="card-header">
            {{event.eventDate}}
            <button type="button" (click)="delete(event._id)" class="btn float-right btn-outline-danger btn-sm"><span class="oi oi-x"></span></button>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{event.eventType}}</p>
              <footer >Mileage / Пробег: <cite title="Source Title">{{event.mileage}}</cite></footer>
            </blockquote>
            <blockquote class="blockquote mb-0">
              <footer >Price / Цена: <cite title="Source Title">{{event.price}} лв.</cite></footer>
            </blockquote>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>