<div *ngIf="vehicle">
  <div class="card mb-3" style="max-width: 720px;" id="car-info">
    <div class="row no-gutters">
      <div *ngIf="vehicle.imageUrl" class="col-md-7">
        <img src="{{vehicle.imageUrl}}" class="card-img" alt="Vehicle Image" id="car-img">
      </div>
      <div *ngIf="!vehicle.imageUrl" class="col-md-7">
        <img src="https://www.carsondemand.co.uk/public/images/placeholderCar.png" class="card-img" alt="Vehicle placeholder" id="car-img">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">{{vehicle.make}}</h5>
          <p class="card-text">Model: {{vehicle.model}}</p>
          <p class="card-text">Millage: {{vehicle.millage}}</p>
          <p class="card-text">Production Year: {{vehicle.productionYear}}</p>
          <a routerLink="/components/add-log" class="btn btn-outline-primary">Add Event</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!vehicle">
  <p>No vehicle found. <a routerLink="/components/add-vehicle">Please, add vehicle info!</a></p>
</div>