<div *ngIf="authService.isAuthenticated()" >
  <form #form="ngForm" (ngSubmit)="create()">
      <div class="form-group">
        <label for="make">Make</label>
        <input type="text" class="form-control" name="make" id="make" placeholder="Enter vehicle make here..."
        required
        [(ngModel)]="bindingModel.make"
        >
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" name="model" id="model" placeholder="Enter vehicle model here..."
        required
        [(ngModel)]="bindingModel.model"
        >
      </div>
      <div class="form-group">
        <label for="productionYear">Production Year</label>
        <input type="number" class="form-control" name="productionYear" id="productionYear" placeholder="Enter production year here..."
        required
        [(ngModel)]="bindingModel.productionYear"
        >
      </div>
      <div class="form-group">
        <label for="mileage">Mileage</label>
        <input type="number" class="form-control" name="mileage" id="mileage" placeholder="Mileage"
        required
        [(ngModel)]="bindingModel.mileage"
        >
      </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input type="url" class="form-control" name="imageUrl" id="imageUrl" placeholder="Enter image link here..."
        [(ngModel)]="bindingModel.imageUrl"
        >
      </div>
      <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Create Vehicle</button>
    </form>
</div>